// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 13px;
$navigation-drawer-border-width: 0;
$data-table-expanded-content-box-shadow: none;